# Linguist settings
*.coco linguist-language=Python
src/bin/* linguist-vendored
docs/* linguist-documentation
notebooks/* linguist-documentation
reports/* linguist-documentation
references/* linguist-documentation
