[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = false
name = "pypi"


[packages]

"h5py" = "*"
"bb297d5" = {file = "http://download.pytorch.org/whl/cu80/torch-0.2.0.post3-cp36-cp36m-manylinux1_x86_64.whl"}
click = "*"
cobra = "*"
halo = "*"
lxml = "*"
flask = "*"


[dev-packages]

tox = "*"
pytest = "*"
pytest-runner = "*"
mypy = "*"
ipython = "*"
jupyter = "*"
"flake8" = "*"
coverage = "*"
codecov = "*"
pytest-cov = "*"
pytest-benchmark = "*"
sphinx = "*"
pylint = "*"
scipy = "*"


[requires]

python_version = "3.6"