[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = false
name = "pypi"


[packages]

tensorflow-gpu = "*"
"h5py" = "*"
keras = "*"
"bb297d5" = {file = "http://download.pytorch.org/whl/cu80/torch-0.2.0.post3-cp36-cp36m-manylinux1_x86_64.whl"}


[dev-packages]

tox = "*"
pytest = "*"
pytest-runner = "*"
coconut-develop = "*"
mypy = "*"
ipython = "*"
jupyter = "*"
"flake8" = "*"
coverage = "*"
codecov = "*"


[requires]

python_version = "3.6"